*{margin: 0; padding: 0;background-repeat: no-repeat; box-sizing: border-box;}
ul, ol{list-style: none;}
a{text-decoration: none; color: inherit;}
img{display: block; max-width: 100%;}
button{background-color: transparent; border: none; cursor: pointer;}
input{background-color: transparent; border: none;}
html, body{position: relative;}/*swiper*/

.tab{display: none;}
.pc{display: none;}
.m{display: block;}

#wrapper{min-width: 320px; background-color: white;}

@font-face {
    font-family: "Metro";
    src: url(../font/Metropolis/Metropolis-Black.otf) format("opentype");
    src: url(../font/Metropolis/Metropolis-Bold.otf) format("opentype");
    src: url(../font/Metropolis/Metropolis-ExtraBold.otf) format("opentype");
    src: url(../font/Metropolis/Metropolis-ExtraLight.otf) format("opentype");
    src: url(../font/Metropolis/Metropolis-Light.otf) format("opentype");
    src: url(../font/Metropolis/Metropolis-Medium.otf) format("opentype");
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "times";
    src: url(../font/TimesNewerRoman/TimesNewerRoman-Bold.otf) format("opentype");
    src: url(../font/TimesNewerRoman/TimesNewerRoman-BoldItalic.otf) format("opentype");
    src: url(../font/TimesNewerRoman/TimesNewerRoman-Italic.otf) format("opentype");
    src: url(../font/TimesNewerRoman/TimesNewerRoman-Regular.otf) format("opentype");
}

header{background-color: white; width: 100%;}
header .wrap{
    width:100%;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
}
header .wrap h1{}
header .wrap h1 img{width: 50px;}
header .wrap .menu_opn{}
header .wrap .menu_opn img{width: 50px;}
header .wrap nav{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 999;
}
header .wrap nav .top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px 10px 10px;
}
header .wrap nav .top .logo{}
header .wrap nav .top .logo img{width: 50px;}
header .wrap nav .top .menu_cls{}
header .wrap nav .top .menu_cls img{width: 50px;}
header .wrap nav .bottom{}
header .wrap nav .bottom .menu{}
header .wrap nav .bottom .menu li{
    width: 100%;
    border-bottom: #e5e5e5 solid 1px;
}
header .wrap nav .bottom .menu li .btn{
}
header .wrap nav .bottom .menu li .btn button{
    font-family: "Metro";
    font-weight: bold;
    font-size: 18px;
    color: #555;
    padding: 20px 0px 20px 20px;
    font-weight: left;
    width: 100%;
    display: flex;
    align-items: left;
    position: relative;
}
header .wrap nav .bottom .menu li .btn button::after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-left: 2px solid #7e7e7e;
    border-bottom: 2px solid #7e7e7e;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -10px;
    transform: rotate(-45deg);
    transition: all 0.5s;
}
header .wrap nav .bottom .menu li .btn button.on::after{
    transform: rotate(135deg);
    margin-top: -5px;
}
header .wrap nav .bottom .menu li .btn a{
    display: block;
    font-family: "Metro";
    font-weight: bold;
    font-size: 18px;
    color: #555;
    padding: 20px 0px 20px 20px;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: left;
}
header .wrap nav .bottom .menu li .box{display: none;}
header .wrap nav .bottom .menu li .box .con{
    font-family: "Metro";
    color: #7e7e7e;
}
header .wrap nav .bottom .menu li .box .con a{
    display: block;
    padding: 10px 0 20px 20px;
    font-size: 16px;
}

.banner{}
.banner .wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}
.banner .wrap .img{}
.banner .wrap .img img{
    height: 50vh;
}
.banner .wrap .text{text-align: center; color: #555; margin-top: 20px;}
.banner .wrap .text p{font-family: "Metro"; font-size: 17px;}
.banner .wrap .text h2{font-family: "Pretendard"; margin-top: 10px; font-size: 24px;}
.banner .wrap .btn{
    margin-top: 20px;
    color: #1ca0d9;
    font-family: "Metro";
    position: relative;
}
.banner .wrap .btn a{
    display: block;
    padding: 10px 35px 10px 15px;
    border: 2px solid #1ca0d9;
    border-radius: 100px;
    background-color: white;
    transition: all 0.4s;
}
.banner .wrap .btn a::after{
    content: '';
    width: 10px;
    height: 10px;
    border-left: 2px solid #1ca0d9;
    border-bottom: 2px solid #1ca0d9;
    position: absolute;
    right: 20px; 
    top: 50%;
    transform: translateY(-50%) rotate(-135deg); 
    background-repeat: no-repeat; 
}

.main{}
.main .wrap{width: 100%; padding: 150px 0 150px 0px; position: relative;}
.main .wrap .tit{font-family: "Pretendard"; font-size: 5vh; font-weight: lighter; text-align: center; color: #555; line-height: 7vh;}
.main .wrap .tit::after{
    content: '';
    width: 1px;
    height: 15vh;
    background-color: #1ca0d9;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(0,-50%);
}
.main .wrap .tit span{font-weight: bold;}
.main .wrap .video{width: 100%; margin-top: 10px;}
.main .wrap .video video{width: 100%; border: 13px solid #1ca0d9;}
.main .wrap .flow_con{display: none;}

.store{}
.store .wrap{width: 100%;}
.store .wrap .title{width: 100%; background-color: #1ca0d9; color: white;}
.store .wrap .title .top{
    display: flex;
}
.store .wrap .title .tit{
    width: 50%;
    position: relative;
}
.store .wrap .title .top h3{
    font-family: "times";
    font-weight: 100;
    font-size: 80px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translatex(-50%) rotate(-90deg);
}
.store .wrap .title .top .shop_img{
    width: 50%;
    height: 75vh;
    background-image: url(../images/shop_8.jpg);
    background-size: cover;
    background-position: center center;
    font-size: 0;
}
.store .wrap .title .bottom{
    padding: 30px 15% 30px 0;
}
.store .wrap .title .bottom .btn{
    margin-top: 20px;
    color: white;
    font-family: "Metro";
    display: flex;
    justify-content: right;
    position: relative;
}
.store .wrap .title .bottom .btn::before{
    content: '';
    width: 80%;
    height: 1px;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 0;
}
.store .wrap .title .bottom .btn a{
    display: inline-block;
    padding: 10px 35px 10px 15px;
    border: 1px solid white;
    background-color: #1ca0d9;
    border-radius: 100px;
    transition: all 0.4s;
    position: relative;
    white-space: nowrap;
}
.store .wrap .title .bottom .btn a::after{
    content: '';
    width: 10px;
    height: 10px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    position: absolute;
    right: 20px; 
    top: 50%;
    transform: translateY(-50%) rotate(-135deg); 
    background-repeat: no-repeat; 
}
.store .wrap .title .bottom .txt{
    font-family: "Pretendard";
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

.store .wrap .shop{
    width: 85%;
    margin: 30px auto;
    border: 13px solid #555;
}
.store .wrap .shop .shop_swp{
    width: 100%;
    height: 100%;
}
.store .wrap .shop .shop_swp .swiper-wrapper{}
.store .wrap .shop .shop_swp .swiper-wrapper .swiper-slide a{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vw;
    overflow:hidden;
    position: relative;
}
.store .wrap .shop .shop_swp .swiper-wrapper .swiper-slide a .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.store .wrap .shop .shop_swp .swiper-wrapper .swiper-slide a .img img{
    object-fit:cover;
    width: 100%;
    height: 100%;
}
.store .wrap .shop .shop_swp .swiper-wrapper .swiper-slide a .map_btn{display: none;}
.store .wrap .shop .shop_swp_next{display: none;}
.store .wrap .shop .shop_swp_prev{display: none;}
.store .wrap .shop .location{position: relative;}
.store .wrap .shop .location .txt{display: none;}
.store .wrap .shop .location .swiper-pagination{
    color: white;
    font-family: "times";
    font-size: 16px;
    width: 70px;
    position: absolute;
    left: unset;
    right: 0;
    bottom: 0;
    padding: 15px 0;
    background-color: #555;
}

.news{}
.news .wrap{display: 100%; margin: 150px 0;}
.news .wrap .title{width: 100%; border-bottom: 3px solid #1ca0d9;}
.news .wrap .title .wrap2{display: flex; justify-content: space-between; width: 95%; margin: 0 auto; padding: 10px 0; color: #1ca0d9;}
.news .wrap .title .wrap2 .tit{font-family: "times"; font-size: 50px; background-color: white; z-index: 20; padding-right: 10px;}
.news .wrap .title .wrap2 .btn{font-family: "Metro"; display: flex; align-items: center; position: relative;}
.news .wrap .title .wrap2 .btn::before{
    content: '';
    width: 60vh;
    height: 1px;
    position: absolute;
    background-color: #1ca0d9;
    top: 50%;
    right: 0;
}
.news .wrap .title .wrap2 .btn a{
    display: inline-block;
    padding: 10px 35px 10px 15px;
    border: 1px solid #1ca0d9;
    background-color: white;
    border-radius: 100px;
    transition: all 0.4s;
    position: relative;
    white-space: nowrap;
}
.news .wrap .title .wrap2 .btn a::after{
    content: '';
    width: 10px;
    height: 10px;
    border-left: 2px solid #1ca0d9;
    border-bottom: 2px solid #1ca0d9;
    position: absolute;
    right: 20px; 
    top: 50%;
    transform: translateY(-50%) rotate(-135deg); 
    background-repeat: no-repeat; 
}
.news .wrap .content{padding-top: 30px;}
.news .wrap .content .new_swp{
    width: 95%;
    height: 100%;
    margin: 0 auto;
}
.news .wrap .content .new_swp .swiper-wrapper{}
.news .wrap .content .new_swp .swiper-wrapper .swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news .wrap .content .new_swp .swiper-wrapper .swiper-slide .txt{
    font-family: "Pretendard";
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    color: #555;
}
.news .wrap .content .new_swp .swiper-wrapper .swiper-slide .img{padding-top: 15px;}
.news .wrap .content .new_swp .swiper-wrapper .swiper-slide .img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kakao{width: 100%; background-color: #1ca0d9;}
.kakao .wrap{width: 90%; height: 300px; margin: 0 auto; padding: 40px 0; display: flex; flex-direction: column; justify-content: space-between;}
.kakao .wrap .title{color: white; text-align: center;}
.kakao .wrap .title .tit{font-family: "times"; font-size: 50px;}
.kakao .wrap .title .txt{font-family: "Pretendard"; font-size: 16px; color: white;}
.kakao .wrap .button{}
.kakao .wrap .button .btn{font-family: "Metro"; display: flex; justify-content: right; position: relative;}
.kakao .wrap .button .btn::before{
    content: '';
    width: 130vh;
    height: 1px;
    position: absolute;
    background-color: white;
    top: 50%;
    right: 0; 
}
.kakao .wrap .button .btn a{
    display: inline-block;
    padding: 10px 35px 10px 15px;
    border: 1px solid white;
    color: white;
    background-color: #1ca0d9;
    border-radius: 100px;
    transition: all 0.4s;
    position: relative;
    white-space: nowrap;
}
.kakao .wrap .button .btn a::after{
    content: '';
    width: 10px;
    height: 10px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    position: absolute;
    right: 20px; 
    top: 50%;
    transform: translateY(-50%) rotate(-135deg); 
    background-repeat: no-repeat; 
}

.guide{}
.guide .wrap{width: 95%; margin: 30px auto;}
.guide .wrap .img{}
.guide .wrap .img img{}
.guide .wrap .title{margin-top: 20px;}
.guide .wrap .title .tit{font-family: "times"; font-size: 50px; color: #1ca0d9;}
.guide .wrap .title .txt{font-family: "Pretendard"; font-size: 16px; color: #555;}
.guide .wrap .button{margin-top: 20px;}
.guide .wrap .button .btn{font-family: "Metro"; display: flex; justify-content: right; position: relative;}
.guide .wrap .button .btn::before{
    content: '';
    width: 130vh;
    height: 1px;
    position: absolute;
    background-color: #1ca0d9;
    top: 50%;
    right: 0; 
}
.guide .wrap .button .btn a{
    display: inline-block;
    padding: 10px 35px 10px 15px;
    border: 1px solid #1ca0d9;
    color: #1ca0d9;
    background-color: white;
    border-radius: 100px;
    transition: all 0.4s;
    position: relative;
    white-space: nowrap;
}
.guide .wrap .button .btn a::after{
    content: '';
    width: 10px;
    height: 10px;
    border-left: 2px solid #1ca0d9;
    border-bottom: 2px solid #1ca0d9;
    position: absolute;
    right: 20px; 
    top: 50%;
    transform: translateY(-50%) rotate(-135deg); 
    background-repeat: no-repeat; 
}

footer{background-color: 100%; background-color: #333; color: white;}
footer .wrap{width: 90%; margin: 0 auto; padding: 30px 0;}
footer .wrap .top{margin-bottom: 30px; border-bottom: 1px solid white;}
footer .wrap .top .company{margin-bottom: 30px;}
footer .wrap .top .company .tit{font-family: "Metro"; margin-bottom: 10px;}
footer .wrap .top .company .txt{font-family: "Pretendard"; font-size: 14px; font-weight: lighter; line-height: 20px; color: #b4b4b4;}
footer .wrap .top .company .txt a{border-bottom: 1px solid #b4b4b4;}
footer .wrap .top .company .txt a:hover{color: white;}
footer .wrap .top .sns{margin-bottom: 20px;}
footer .wrap .top .sns .tit{font-family: "Metro"; margin-bottom: 10px;}
footer .wrap .top .sns .link{display: flex; gap: 10px}
footer .wrap .top .sns .link .img{}
footer .wrap .top .sns .link .img a{}
footer .wrap .top .sns .link .img a img{width: 50px;}
footer .wrap .bottom{}
footer .wrap .bottom .guide{font-family: "Pretendard"; font-size: 14px; font-weight: lighter; line-height: 20px; display: flex; margin-bottom: 10px;}
footer .wrap .bottom .guide li{color: #b4b4b4;}
footer .wrap .bottom .guide li::after{
    content: '|';
    padding: 0 10px;
    color: #b4b4b4;
}
footer .wrap .bottom .guide li:last-child::after{
    content: unset;
    padding: unset;
}
footer .wrap .bottom .guide li a{}  
footer .wrap .bottom .guide li a:hover{color: white;}  
footer .wrap .bottom .copy{font-family: "Metro"; font-size: 14px; line-height: 20px;}